.login_form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.login_inner{
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 7px 2px 6px 2px  gray;
    width:400px;
    background-color: white;
  
}
.login{
    
    margin-top: 80px;
    display: flex;
   
    justify-content: center;
    align-items: center;
    gap:20px;
}
.login_bot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.login_text{
    font-size: 16px;
}
.sign1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color:red;
    font-size: 20px;
}
